{% extends "base.html" %}

{% block content %}

<h2><b>Register new pet:</b></h2>

<div class="new">
  <form class="form" action="/clan" method="post">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="Name" required autofocus>
    </div><br>
  
    <div>
      <label for="date_of_birth">Date of birth:</label>
      <input type="text" id="date_of_birth" name="date_of_birth" placeholder="YYYY/MM/DD" required>
    </div><br>

    <div>
      <label for="type">Type of animal:</label>
      <input type="text" id="type" name="type" placeholder="Add type" required>
    </div><br>

    <div>
      <label for="owner">Contact details for the owner:</label>
      <input type="text" id="owner_new" name="owner" placeholder="Owner details" required>
    </div><br>

    <div>
      <label for="notes">Treatment notes:</label>
      <input type="text" id="notes_new" name="notes" placeholder="Add notes" required>
    </div><br>
    
    <div>
      <label for="vet">Vet:</label>
      <select id="vet" name="vet_id">
        {% for vet in vets %}
          <option value="{{ vet.id }}">{{ vet.name }}</option>
        {% endfor %}
      </select>
    </div><br>
  
    <button class="save_button" type="submit">Add Pet</button>
  
  </form>
</div>
{% endblock %}