{% extends "base.html" %}

{% block content %}

<h2><b>{{vet.name}}'s details:</b></h2>

<div class="details">
    <form action="/vets/{{vet.id}}" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{vet.name}}">
        </div><br>

        <div>
            <label for="specialties">Specialties:</label>
            <input type="text" id="specialties" name="specialties" value="{{vet.specialties}}">
        </div><br>

        <div>
            <label for="reg_number">Registration number:</label>
            <input type="text" id="reg_number" name="reg_number" value="{{vet.reg_number}}">
        </div><br>
        <button class="update_button" type="submit">Update details</button>
    </form>
</div>  

 {% endblock %}