{% extends "base.html" %}

{% block content %}

<h2 class="h2"><b>{{vet.name}}'s details:</b></h2>

<div>
    <p>Name: {{vet.name}}</p>
    <p>Specialties: {{vet.specialties}}</p>
    <p>Registration number: {{vet.reg_number}}</p>
    <p>Patients:
        
            {% for pet in pets %}
            {{pet.name}}
            {% endfor %}
    </p>
</div>
<div>
    <form action="/vets/{{vet.id}}/edit">
        <button>Edit details</button>
    </form>
</div>
<br>
<div>
    <form action="/vets/{{vet.id}}/delete" method="POST">
        <button>Delete {{vet.name}}</button>
    </form>
</div>
{% endblock %}