{% extends "base.html" %}

{% block content %}

<h2><b>{{vet.name}}'s details:</b></h2>

<div class="details">
    <p>Name: {{vet.name}}</p>
    <p>Specialties: {{vet.specialties}}</p>
    <p>Registration number: {{vet.reg_number}}</p>
    <p>Patients:
            {% for pet in pets %}
            {{pet.name}}
            {% endfor %}
    </p>
</div>
<div class="show_buttons">
    <div>
        <form action="/vets/{{vet.id}}/edit">
            <button class="show_button">Edit details</button>
        </form>
    </div>
    <br>
    <div>
        <form action="/vets/{{vet.id}}/delete" method="POST">
            <button class="delete_button">Delete {{vet.name}}</button>
        </form>
    </div>
</div>
{% endblock %}