#flex-pets {
    display: flex;
    flex-wrap: wrap;
}

.pets {
    padding: 20px;
    border-style: double;
    border-radius: 30px;
    border-color:  darkgreen;
    margin: 10px;
    background-color: rgb(219, 219, 219);
    flex: 25%;
}

#owner {
    width: 550px;
}

#notes {
    width: 637px;
}

#owner_new {
    width: 390px;
}

#notes_new {
    width: 525px;
}