
body {  
    background-color: lightsteelblue;
    margin: 0px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(7, 7, 53);
}

#header {
    text-align: center;
    color: rgb(7, 7, 53);
    grid-area: header;
    font-weight: bold;
    font-size: large;
    background-color: rgb(155, 192, 155);
    border-radius: 30px;
}

#menu {
    grid-area: menu;
    padding: 20px;
}


body > div > nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

body > div > nav > ul > li > a {
    font-weight: bold;
    font-size: large;
    color: darkgreen;
}

#main-content {
    grid-area: main;
    height: 800px;
    background-image: url('/static/images/background.png');
    background-size: center;
}

h2 {
    color: rgb(7, 7, 53);
    font-weight: bold;
    padding-left: 20px;
}

#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 550px;
    padding-top: 130px; 
}


#grid-container {
    display: grid;
    grid-template-areas: 
        'header header'
        'menu menu'
        'main main';
}