
body {  
    margin: 10px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: navy;
}

header {
    text-align: center;
    color: brown;
    grid-area: header;
}

#menu {
    grid-area: menu;
}

body > div > nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

#main-content {
    grid-area: main;
    height: 800px;
}

#footer {
    color: brown;
    grid-area: footer;
}

h2 {
    color: brown;
}

body > div > img {
    width: 500px;
    height: 400px;
    align-content: center;
    padding-top: 100px;
}


#grid-container {
    display: grid;
    grid-template-areas: 
        'header header'
        'menu menu'
        'main main'
        'footer footer';
}