<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Vet for your Pet</title>
</head>
<body>
  <header>
    <h1>Vet for your Pet</h1>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/clan">Our clan</a></li>
        <li><a href="/register">Register new pet</a></li>
        <li><a href="/vets">Vets</a></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
  <footer>
    <p>Vet for your Pet</p>
  </footer>
</body>
</html>